/StringMetodusok/dist/
/StringMetodusGyak/nbproject/private/
/StringMetodusGyak/build/
/dolgozat0301/nbproject/private/
/dolgozat0301/build/
/nullValue/nbproject/private/
/nullValue/build/
/fileRead/nbproject/private/
/fileRead/build/
/fileReadNumbers/nbproject/private/
/fileReadNumbers/build/
/fileReadFirstNumber/nbproject/private/
/fileReadFirstNumber/build/
/fileRead2/nbproject/private/
/fileRead2/build/
/fileRead03.29/nbproject/private/
/fileRead03.29/build/
